*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    margin-top: 6.25rem;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    gap: 1.5rem;

}
html{
    font-size: 16px;
}
.calculator-btns{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.container{
    display: flex;
    gap: 0.5rem;

}
.input-box{
    width: 26rem;
    height: 3.1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 2rem;
}
.button{
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 3.57rem;
    width: 6.25rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
}